@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text-color: 74 85 104;
    --bg-color: 255 255 255;
    --brand-50: 255, 229, 241;
    --brand-100: 255, 204, 228;
    --brand-200: 255, 179, 215;
    --brand-500: 255, 92, 170;
    --brand-600: 255, 77, 163;
    --brand-800: 255, 26, 136;
    --slate-100: 241 245 249;
    --brand-background: 179, 64, 147;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --radius: 0.5rem;
  }
  .dark {
    --bg-color: 26 32 44;
    --text-color: 255, 255, 255;
    --brand-800: 255, 26, 136;
    --brand-background: 93, 23, 56;
    --background: 220 15% 15%;
    --foreground: 0 0% 98%;
    --popover: 220 26% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --border: 0, 0%, 24%;
    --input: 0 0% 14.9%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1400px;
  }
}

.bg-home-gradient {
  background-image: linear-gradient(
    180deg,
    #ff5caa40 20%,
    #7ce3fa40,
    #f2acce50
  );
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin-d::-webkit-scrollbar,
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-extra-thin-d::-webkit-scrollbar,
.scrollbar-extra-thin::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-extra-thin::-webkit-scrollbar-thumb,
.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #00000029;
}

.scrollbar-extra-thin-d::-webkit-scrollbar-thumb,
.scrollbar-thin-d::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ffffff29;
}
